@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;600&family=Lora:ital@0;1&family=Playfair+Display:ital@0;1&family=Raleway:ital,wght@0,100;1,100&display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");


body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 80px;
}

h2{
	font-family: 'Raleway', sans-serif;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container .card {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container .card {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container .card {
    width: 300px;
  }
}